body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1 {
  font-size: 56px;
}
h2,
h3 {
  color: #2e2f42;
  letter-spacing: 0.02em;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.nav-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contact {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-link {
   color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 18px;
  color: #4d5ae5;
  text-transform: uppercase;
}
.logo--header .span-logo {
  color: #2e2f42;
}
.hero {
  background-color: #2e2f42;
  color: #ffffff;
}
.hero-title {
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.team-title,
.portfolio-title,
.features-title {
  line-height: 1.11;
  font-size: 36px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.features-subtitle,
.team-name,
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-category,
.team-role,
.features-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #ffffff;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.logo--footer .span-logo {
  color: #f4f4fd;
}
.footer-description{
   line-height: 1.5;
   letter-spacing: 0.02em;
}
